@charset "utf-8";
/* CSS Document */
@keyframes flexthemguns {
  to {
    opacity: 0;
  }
}



body {
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	font-size: 24px;
	line-height: 2.0 em;
	background-image: url(images/maroon6.jpg);
	background-repeat: no-repeat;
	background-size:cover; 
	background-attachment: scroll;
	
	
}

img {
	animation-name: flexthemguns;
  	animation-duration: 4s;
  	animation-delay: 2s;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
  	animation-direction: alternate;
  	animation-fill-mode: forwards;
  	width: 50%;
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}


h1 {
	
	text-align: center;
	color: silver;
	font-weight: bold;
	font-size: 55px;
	font-weight: bold;
	animation-name: flexthemguns;
 	animation-duration: 5s;
  	animation-delay: 2s;
  	animation-iteration-count: infinite;
  	animation-timing-function: ease-out;
 	animation-direction: alternate;
 	animation-fill-mode: forwards;
 	
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
	font-weight: normal;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

h2{
	text-align: center;
	background-color: whitesmoke;
	animation: square-to-circle 10s .10s infinite cubic-bezier(0.420, 0.000, 0.580, 1.000) alternate;
}

@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background:grey;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background:grey;
    transform:rotate(0deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:grey;
    transform:rotate(0deg);
  }
  75%  { 
    border-radius:50% 50% 50% 0;
    background:white ;
    transform:rotate(0deg);
  }
  100% {  
    border-radius:50%;
    background:grey;
    transform:rotate(360deg);
  }
}

h3 {
	text-align: center;
	background-color: whitesmoke;
	font-size: 30px;
	padding: 10px;
	animation-name: flexthemguns;
 	animation-duration: 5s;
  	animation-delay: 2s;
  	animation-iteration-count: infinite;
  	animation-timing-function: ease-out;
 	animation-direction: alternate;
}
p{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	color: white;
	width: 45%;	
	font-weight: bold;
}

table {
	color: black;
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	font-size: 25px;
}


footer{
	color: white;
	text-align: center;
	margin: 0 auto;
}

.column3{
	text-align: center;
}

@media screen and (min-width:300px) {}